{%extends 'base.html'%}
{%load static%}
{%block content%}

<div class="row tm-row tm-mb-45">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <img src="{{about_me.about_photo.url}}" alt="about tejaswi" class="img-fluid">
    </div>
</div>

<div class="row tm-row tm-mb-40">
    <div class="col-12">                    
        <div class="mb-4">
            <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">About Tejaswi</h2>
            <p>
                {{about_me.about_me | safe}}
            </p>                            
        </div>                    
    </div>
</div>
{%endblock%}