{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="row tm-row">
    {%for post in page_obj.object_list%}
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                <img src='{{post.photo_home.url}}' alt="Image" class="img-fluid">                            
            </div>
            {% if post.is_featured %}
            <span class="position-absolute tm-new-badge">Featured</span>
            {%endif%}
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{post.title}}</h2>
        </a>                    
        <p class="tm-pt-30">
            {{post.summary | safe}}
        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">{{post.category}}</span>
            <span class="tm-color-primary">{{post.created_date | date}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>36 Likes</span>
            <span>by {{post.author}}</span>
        </div>
    </article>
    {%endfor%}
</div>
<div class="row tm-row tm-mt-100 tm-mb-75">
    <div class="tm-prev-next-wrapper">
        {% if page_obj.has_previous %} 
        <a href="?page={{page_obj.previous_page_number}}" class="mb-2 tm-btn tm-btn-primary tm-prev-next tm-mr-20">Prev</a>
        {%endif%}
        {%if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
        {%endif%}
    </div>
    <div class="tm-paging-wrapper">
        <span class="d-inline-block mr-3">Page</span>
        <nav class="tm-paging-nav d-inline-block">
            <ul>
                {%for i in no_of_pages%}
                {% if i == page_obj.number %}
                <li class="tm-paging-item active">
                    <a href="?page={{i}}" class="mb-2 tm-btn tm-paging-link">{{i}}</a>
                </li>
                {% else %}
                <li class="tm-paging-item">
                    <a href="?page={{i}}" class="mb-2 tm-btn tm-paging-link">{{i}}</a>
                </li>
                {% endif %}
                {%endfor%}
            </ul>
        </nav>
    </div>                
</div>            

{%endblock%}