{%extends 'base.html'%}
{% load static %}
{%block content%}

<div class="row tm-row">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <!-- Video player 1422x800 -->
        {% include 'messages.html' %}
        <img src="{{post.photo_blogpage.url}}" alt="{{post.title}}" class="img-fluid">
    </div>
</div>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">                    
            <div class="mb-4">
                <h2 class="pt-2 tm-color-primary tm-post-title">{{post.title}}</h2>
                <p class="tm-mb-40">{{post.created_date | date}} posted by {{post.author}}</p>
                <p>
                    {{post.content | safe}}
                </p>
                <span class="d-block text-right tm-color-primary">{{post.category}}</span>
            </div>
            
            <!-- Comments -->
            <div>
                {% if comments %}
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                {% for comment in comments %}
                <div class="tm-comment tm-mb-20">
                    <figure class="tm-comment-figure">
                        <figcaption class="tm-color-primary text-center">{{comment.name}}</figcaption>
                    </figure>
                    <div>
                        <p>
                            {{comment.comment}}
                        </p>                                                
                    </div>                                
                </div>
                {% if comment.reply %}
                <div class="tm-comment-reply tm-mb-45">
                    <hr>
                    <div class="tm-comment">
                        <figure class="tm-comment-figure">
                            <figcaption class="tm-color-primary text-center">{{post.author}}</figcaption>    
                        </figure>
                        <p>
                            {{comment.reply}}
                        </p>
                    </div>                                
                    <span class="d-block text-right tm-color-primary">{{comment.created_date | date}}</span>
                </div>
                {%endif%}
                <hr>
                {%endfor%}
                {%endif%}
                <form method="POST" action="{% url 'comments' %}" class="mb-5 tm-comment-form">
                    {% csrf_token %}
                    <input type="hidden" name="postid" value="{{post.id}}">
                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                    <div class="mb-4">
                        <input class="form-control" name="name" type="text" placeholder="Name">
                    </div>
                    <div class="mb-4">
                        <input class="form-control" name="email" type="text" placeholder="Email">
                    </div>
                    <div class="mb-4">
                        <textarea class="form-control" name="comment" placeholder="Comment" rows="6"></textarea>
                    </div>
                    <div class="text-right">
                        <button class="tm-btn tm-btn-primary tm-btn-small" type="submit">Submit</button>                        
                    </div>                                
                </form>                          
            </div>
        </div>
    </div>
    <aside class="col-lg-4 tm-aside-col">
        <div class="tm-post-sidebar">
            <hr class="mb-3 tm-hr-primary">
            <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
            <ul class="tm-mb-75 pl-5 tm-category-list">
                {% for cat in category_search%}
                <li><a href="{% url 'categorysearch' cat %}" class="tm-color-primary">{{cat}}</a></li>
                {%endfor%}
            </ul>
            <hr class="mb-3 tm-hr-primary">
            <h2 class="tm-mb-40 tm-post-title tm-color-primary">Other Posts</h2>
            {% for post in all_posts %}
            <a href="{% url 'post' post.id %}" class="d-block tm-mb-40">
                <figure>
                    <img src="{{post.photo_home.url}}" alt="{{post.title}}" class="mb-3 img-fluid">
                    <figcaption class="tm-color-primary">{{post.title}}</figcaption>
                </figure>
            </a>
            {% endfor %}
        </div>                    
    </aside>
</div>


{%endblock%}